body {
    background-color: #111;
    font-family: Arial;
    margin: 0;
}

h1 {
    color: #fff;
}

h1 span {
    color: #febe01;
}

h2 {
    color: #fff;
    margin: 0;
}

p {
    font-size: 18px;
    color: #b2b2b2;
}

a {
    color: #fff;
}

span {
    color: #b2b2b2;
}

strong {
    color: #febe01;
}

label {
    color: #fff;
    margin-bottom: 10px;
    display: block;
}

input, textarea {
    border: 1px solid #b2b2b2;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    min-height: 300px;
    resize: vertical;
}

/* Classes */
.botao {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    background-color: #febe01;
    color: #332200;
    border: 1px solid #332200;
}

.introducao {
    padding: 40px;
}

.menu {
    border-bottom: 2px solid #b2b2b2;
    padding: 20px;
}

.link-ativo {
    color: #b2b2b2;
    text-decoration: none;
}

.diario {
    padding: 20px;
    border-bottom: 1px solid #b2b2b2;
    margin-bottom: 40px;
}

.formulario {
    padding: 20px;
}

.formulario .botao {
    display: block;
    text-align: center;
}

.bloco-input {
    margin-bottom: 10px;
}

.titulo {
    text-align: center;
    color: #febe01;
}